@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" background-color>
    <div class="row">
        <div class="col-sm-4">
            <div class="m-3 mb-5">
                <div class="card" style="height: 48rem; background-color: lighter-green">
                     <div class="card-header"> 
                         <h2 font-family="heading">Lijst met events.<h2>
                     </div>
                     <div class="card-body"></div>
                </div>
            </div>
            <div class="m-3 mb-5">
                <div class="card bg-danger" style="height: 16rem;">
                    <h2> Login</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header">Titel en sterren</div>
                    <div class="card-body">Omschrijving</div>
                    <div class="card-footer">Smullen! aantal personen prijs</div>
                </div>
            </div>
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header">Titel en sterren</div>
                    <div class="card-body">Omschrijving</div>
                    <div class="card-footer">Smullen! aantal personen prijs</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header">Titel en sterren</div>
                    <div class="card-body">Omschrijving</div>
                    <div class="card-footer">Smullen! aantal personen prijs</div>
                </div>
            </div>
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header">Titel en sterren</div>
                    <div class="card-body">Omschrijving</div>
                    <div class="card-footer">Smullen! aantal personen prijs</div>
                </div>
            </div>
        </div>
    </div>
</div>
