@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" background-color>
    <div class="row">
        <div class="col-sm-4">
            <div class="m-3 mb-5">
                <div class="card-events" style="height: 48rem;">
                     <div class="card-header"> 
                         <h1 class="white" font-family="heading" style="text-color: var(--white)">Age<u>nda</u><h1>
                     </div>
                     <div class="card-body" style="text-align: left">
                         <h3 class=".black">agendaplaatje Event 1</h3>
                         <p>Omschrijving</p>
                     </div>
                </div>
            </div>
            <div class="m-3 mb-5">
                <div class="card-login" style="height: 16rem;">
                    <div class="card-header">
                        <h1 class = "white"> Login</h1>
                    </div>
                    <div class="card-body">
                        
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-secondary rounded-pill"><h2>Login</h2></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header"><h2 class="lighter-green">Titel  sterren</h2></div>
                    <div class="card-body"><p>Omschrijving</p></div>
                    <div class="card-footer"><a href="" class="btn btn-primary rounded-pill"><h3>Smullen!</h3></a></div>
                </div>
            </div>
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header"><h2 class="lighter-green">Titel  sterren</h2></div>
                    <div class="card-body"><p>Omschrijving</p></div>
                    <div class="card-footer"><a href="" class="btn btn-primary rounded-pill"><h3>Smullen!</h3></a></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header"><h2 class="lighter-green">Titel  sterren</h2></div>
                    <div class="card-body"><p>Omschrijving</p></div>
                    <div class="card-footer"><a href="" class="btn btn-primary rounded-pill"><h3>Smullen!</h3></a></div>
                </div>
            </div>
            <div class="m-3 mb-5">
                <div class="card" style="height: 32rem">
                    <img class="card-img-top" style="height: 14rem" src="..." alt="Card image cap">
                    <div class="card-header"><h2 class="lighter-green">Titel  sterren</h2></div>
                    <div class="card-body"><p>Omschrijving</p></div>
                    <div class="card-footer"><a href="" class="btn btn-primary rounded-pill"><h3>Smullen!</h3></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
