html {
  font-size: 14px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
    .search-bar {
        position: static;
        margin-top: 1rem;
    }
    #toggleButton {
        position: static;
        margin-top: 1.5rem;
    }
}

@font-face {
    font-family: 'pretty_lilyregular';
    src: local(''), url('../fonts/pretty_lily-webfont.woff') format('woff');
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#carousel {
    position: relative;
}

#carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
}

#carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
}

.header h3{
    position: relative;
}

.icon-adjust {
    position: relative;
    top: -3px;
}

.button-text-adjust {
    position: relative;
    top: -3px;
}

h1, h2, h3, h4 {
    font-family: var(--heading);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 16px;
}

footer img {
    height: 100px;
    width: 240px
}

footer p {
    font-size: 10px;
}

.verrukkulluk-logo {
    position: absolute;
    top: 2%;
    left: 2%;
}

.verrukkulluk-logo img {
    max-width: 40%;
    max-height: auto;
}

p {
    font-family: var(--regular);
}

.white {
    color: var(--white);
}

.lighter-red {
    color: var(--lighter-red);
}

.card-shadow {
    width: 200px;
    height: 100px;
    background-color: #3498db; /* Achtergrondkleur van het object */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-login {
    background-color: var(--darker-red);
    height: 23rem;
    text-align: center;
}

.card-header-login {
    height: 60px;
}

.card-login input {
    width: 300px;
}

.container-login {
    width: 340px;
    text-align: left;
}

.card-events {
    background-color: var(--lighter-green);
    height: 41rem;
}

.card-header {
    border-bottom: none;
    background-color: inherit;
}

.card-footer {
    border-top: none;
    background-color: inherit;
}

.btn-primary {
    padding: 0px 30px;
    border-radius: 25px;
    line-height: -3; 
    color: var(--white);
    background-color: var(--lighter-red);
    border-color: var(--lighter-red);
}

.btn-primary:hover {
    color: var(--lighter-red);
    background-color: var(--white);
    border-color: var(--lighter-red);
}

.btn-secondary {
    padding: 1px 60px;
    border-radius: 20px;
    color: var(--white);
    background-color: var(--lighter-orange);
    border-color: var(--lighter-orange);
}

.btn-custom {
    background-color: white;
}

.btn-custom i {
    font-size: 1.5rem;
}

.black {
    color: var(--black);
}

.btn-secondary:hover {
    color: var(--lighter-orange);
    background-color: var(--white);
    border-color: var(--lighter-orange);
}

.border-custom {
    border: 1px solid #ced4da;
    border: none;
    border-radius: 1.2rem;
    padding: 0.375rem 0.75rem;
}

.footer {
    background-color: var(--darker-orange);
    color: var(--white);
}

.lighter-green {
    color: var(--lighter-green);
}

.darker-green {
    color: var(--darker-green)
}

.lighter-orange {
    color: var(--lighter-orange);
}

.bi-search {
    color: var(--lighter-red);
}

.bi-star-fill {
    color: var(--lighter-orange);
}

.bi-star {
    color: var(--lighter-orange);
}

.search-bar {
    position: absolute;
    top: 3rem;
    right: 6rem;
    width: 40%;
    max-width: 400px;
    z-index: 1000;
}

#toggleButton {
    background-color: transparent;
    border: none;
    font-size: 45px;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}

#demo {
    max-height: 16vh;
}

.lighter-red {
    color: var(--lighter-red)
}

:root {
    /* FONTS */
    --heading: "pretty_lilyregular";
    --regular: "Arial";
    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown: #774231;
    --lightest-brown: #aa4b1b;
    --darker-red: #b31714;
    --lighter-red: #dc3439;
    --kahki: #fff0d6;
    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;
    --darker-green: #6e8722;
    --lighter-green: #95b82d;
    --white: #FFF;
    --black: #000;
}