@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreren";
}

<div class="container mt-3">
    <div class="row">
        <div class="d-flex align-items-center col-xl-3">
            <img class="img-fluid d-none d-xl-block" src="~/images/pexels-cottonbro-studio.jpg" />
        </div>
        <div class="col-lg-6 col-12">
            <div class="card card-register shadow p-4">
                <div class="container">
                    <div class="card-register-header">
                        <h1>@ViewData["Title"]</h1>
                        <h2>Maak hier een nieuw account</h2>
                    </div>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Voornaam" />
                            <label asp-for="Input.FirstName">Voornaam</label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.CityOfResidence" class="form-control" aria-required="true" placeholder="Woonplaats" />
                            <label asp-for="Input.CityOfResidence">Woonplaats</label>
                            <span asp-validation-for="Input.CityOfResidence" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">E-mail</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-4">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Wachtwoord</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Herhaal wachtwoord</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form mb-5">
                            <label for="Input.ProfilePicture" class="form-label"></label>
                            <div class="input-group">
                                <input type="file"
                                        id="Input.ProfilePicture"
                                        accept=".png,.jpg,.jpeg,.gif,.tif"
                                        asp-for="Input.ProfilePicture"
                                        class="form-control"
                                        style="display: none;"
                                        onchange="handleFileSelectProfilePicture(this);" />
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-outline-secondary btn-browse-profile" onclick="document.getElementById('Input.ProfilePicture').click();">Bladeren</button>
                                </div>
                                <div class="custom-file">
                                    <span class="custom-file-label form-control file-label" id="fileLabel">Selecteer uw profielfoto...</span>
                                </div>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger btn-delete-img-profile" id="removeButton" style="display: none;" onclick="removeFileProfilePicture();">Verwijderen</button>
                                </div>
                            </div>
                            <img id="preview" src="#" class="profile-picture" alt="Voorbeeldafbeelding" style="display: none; max-width: 30%; margin-top: 10px;" />
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-secondary"><h2>Registreren</h2></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center col-xl-3 col-lg-6 col-12 mt-5 mt-lg-0">
            <div class="card card-tips shadow p-4">
                <div class="container">
                    <div class="card-header">
                        <h2>Voordelen van een account:</h2>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Uw favoriete recepten opslaan</li>
                            <li>Uw eigen recepten delen met anderen op de website</li>
                            <li>Recepten bespreken met andere "Verrukkulluk"-gebruikers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

