@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="text-center darker-green">
    <h1>Profielpagina</h1>
</div>
<div>
   <div class="text-center">
    <h3>Beheer uw accountgegevens</h3>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<div class="col-12">
    <div class="m-3 mb-5">
        <div class="card-events shadow">
            <div class="card-header text-center">
                <img class="titleUnderlined mt-3 mb-2" src="../images/Agenda-met-streep.png">
            </div>
            <div class="display-block">
                <div class="container text-start overflow-auto" style="max-height: 100px;">
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                        </div>
                        <div class="px-2">
                            <div>
                                @{
                                    <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="event1"><h3>Vegetarisch koken</h3></a>
                                }
                            </div>
                            <p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                        </div>
                        <div class="px-2">
                            <div>
                                @{
                                    <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="event2"><h3>Tafeldekken</h3></a>
                                }
                            </div>
                            <p>Een workshop om op een snelle en chique manier een dinertafel te dekken</p>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                        </div>
                        <div class="px-2">
                            <div>
                                @{
                                    <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="event3"><h3>Secuur afwassen</h3></a>
                                }
                            </div>
                            <p>Hier leert u hoe u kunt afwassen op een veilige en duurzame manier</p>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <div class="px-2">
                            <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                        </div>
                        <div class="px-2">
                            <div>
                                @{
                                    <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="Event4"><h3>Wokken</h3></a>
                                }
                            </div>
                            <p>Wat is wokken precies en wat maakt het nou zo lekker?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>