@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="text-center darker-green">
    <h1>Profielpagina</h1>
</div>
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-4 text-start">
            <a class="btn btn-admin" asp-controller="Verrukkulluk" asp-action="Admin">Adminpagina</a>
        </div>
    }
    <div class="text-center">
         <h3>Beheer uw accountgegevens</h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
