@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Account verwijderen";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="darker-green">@ViewData["Title"]</h3>

<div class="col-md-6 alert-warning-profile" role="alert">
    <p>
        <strong>Het verwijderen van uw account en al uw persoonlijke gegevens is permanent en kan niet teruggedraaid worden...</strong>
    </p>
</div>

<div class="col-md-4">
    <p>Wilt u uw account verwijderen?</p>
    <p>Voer uw wachtwoord in om dit te bevestigen:</p>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Voer uw wachtwoord in." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-75 btn btn-lg submit-danger-profile" type="submit">Verwijder uw account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
