@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Verwijder je accountgegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="darker-green">@ViewData["Title"]</h3>

<div class="col-md-8 alert alert-warning-profile" role="alert">
    <p>
        <strong>Het verwijderen van jouw account en al je persoonlijke gegevens is permanent en dit kan niet teruggedraaid worden...</strong>
    </p>
</div>

<div class="col-md-6">
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-80 btn btn-lg submit-danger-profile" type="submit">Verwijder jouw account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
