@page
@model EmailModel
@{
    ViewData["Title"] = "Email wijzigen";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3 class="darker-green">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <p>Huidige e-mailadres: <strong>@Model.Email</strong></p>
        </div>
        <form id="email-form" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" aria-required="true" placeholder="Voer een nieuw e-mailadres in." />
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <span asp-validation-for="Input.NewEmail" class="darker-red"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-50 btn btn-lg submit-profile">Update uw e-mail</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}