@page
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Profiel";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="darker-green">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            @if (User.Identity.IsAuthenticated)
            {
                var user = await UserManager.GetUserAsync(User);
                var profilePictureId = user.ImageObjId;
                var firstName = user.FirstName;

                <img class="profile-picture" src="@Url.Action("GetImage", "Image", new { id = profilePictureId })" alt="Profielfoto">
                <p><br>Hallo <strong class="darker-green">@firstName</strong>!</p>
                <p>Op uw profielpagina kunt u al uw huidige gegevens inzien en aanpassen.</p>
                <p>Mocht u uw account willen verwijderen, let er dan op dat dit niet teruggedraaid kan worden!</p>
            }
            else
            {
                <p>U bent niet ingelogd.</p>
            }
        </div>
    </div>
</div>

