@page
@model FirstNameModel
@{
    ViewData["Title"] = "Profiel";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="darker-green">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            @if (!string.IsNullOrEmpty(Model.ProfilePictureBase64))
            {
                <img class = "profile-picture" src="data:image/jpeg;base64,@Model.ProfilePictureBase64" alt="Profile Picture" />
            }
            
            <p><br>Hallo <strong class="darker-green">@Model.FirstName</strong>!</p>
            <p>Op uw profielpagina kunt u al uw huidige gegevens inzien en aanpassen.</p>
            <p>Mocht u uw account willen verwijderen, let er dan op dat dit niet teruggedraaid kan worden!</p>
        </div>
    </div>
</div>
