@page
@model IndexModel
@{
    ViewData["Title"] = "Profiel";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="darker-green">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <p>Hallo <strong class="darker-green">@Model.Username</strong>!</p>
            <p>Op uw profielpagina kunt u elk van uw huidige gegevens inzien en aanpassen.</p>
            <p>Als u uw account wil verwijderen, let dan op dat dit niet teruggedraaid kan worden!</p>
        </div>
    </div>
</div>
