@page
@model ProfilePictureModel
@{
    ViewData["Title"] = "Verander uw profielfoto";
    ViewData["ActivePage"] = ManageNavPages.ProfilePicture;
}

<h3 class="darker-green">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <p>Huidige profielfoto: <br></p>
            @if (!string.IsNullOrEmpty(Model.ProfilePictureBase64))
            {
                <img src="data:image/jpeg;base64,@Model.ProfilePictureBase64" alt="Profile Picture" class="profile-picture" />
            }
            <p><br>Wilt u een andere profielfoto hebben?</p>
            <p>Upload een nieuwe profielfoto:</p>
        </div>
        <form id="profile-picture-form" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <input type="file" asp-for="Input.ProfilePicture" class="form-control" />
                <span asp-validation-for="Input.ProfilePicture" class="lightest-brown"></span>
            </div>
            <button id="change-picture-button" type="submit" asp-page-handler="ChangeProfilePicture" class="w-80 btn btn-lg submit-profile">Update uw profielfoto</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
