@model Verrukkulluk.Models.EventModel;

@{
    ViewData["Title"] = "EventParticippation";
}
<div class="parent-container d-flex flex-wrap">
 
    <div class="container col-sm-24 col-md-12 col-xl-8">
        <div class="m-3">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h1 class="darker-green" font-family="heading">Schrijf je in voor het event:</h1>
                </div>
                <form action="/" method="post">
                    <div class="text-center">
                        <div class="event-participation-input">
                            <label for="name">Naam:</label>
                            <input id="name" name="name" type="text" required placeholder="naam"/>
                        </div>
                        <div class="event-participation-input">
                            <label for="email">Emailadres:</label>
                            <input id="email" name="email" type="email" required placeholder="email"/>
                        </div>
                        <button class="btn-admin">Meld je aan</button>
                    </div>
                </form>
        </div>
    </div>
</div>



