@{
    ViewData["Title"] = "Event";
}
<h1>Event</h1>
<h2> Het volgende moet hier zichtbaar zijn: titel, locatie, omschrijving, kosten, 
    begintijd en eindtijd. Deze worden opgehaald uit de database.</h2>
