@model Verrukkulluk.Models.HomeModel;
@{
    ViewData["Title"] = "Home Page";
}
<div class="parent-container d-flex flex-wrap">
    <div class="container col-sm-12 col-md-6 col-xl-4">
        <div class="row">
            <div class="col-12">
                <div class="m-3 mb-5">
                    <div class="card-events shadow">
                        <div class="card-header text-center">
                            <img class="titleUnderlined mt-3 mb-2" src="../images/Agenda-met-streep.png">
                        </div>
                        <div class="display-block">
                            <div class="container text-start">
                                <div class="d-inline-flex">
                                    <div class="px-2">
                                        <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                                    </div>
                                    <div class="px-2">
                                        <div>
                                            @{
                                                <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="event1"><h3>Vegetarisch koken</h3></a>
                                            }
                                        </div>
                                        <p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container text-start d-none d-md-block">
                                <div class="d-inline-flex">
                                    <div class="px-2">
                                        <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                                    </div>
                                    <div class="px-2">
                                        <div>
                                            @{
                                                <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="event2"><h3>Tafeldekken</h3></a>
                                            }
                                        </div>
                                        <p>Een workshop om op een snelle en chique manier een dinertafel te dekken</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container text-start d-none d-md-block">
                                <div class="d-inline-flex">
                                    <div class="px-2">
                                        <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                                    </div>
                                    <div class="px-2">
                                        <div>
                                            @{
                                                <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="event3"><h3>Secuur afwassen</h3></a>
                                            }
                                        </div>
                                        <p>Hier leert u hoe u kunt afwassen op een veilige en duurzame manier</p>
                                    </div>
                                </div>
                            </div>
                            <div class="container text-start d-none d-md-block">
                                <div class="d-inline-flex">
                                    <div class="px-2">
                                        <h3><i class="bi bi-calendar-date-fill white"></i></h3>
                                    </div>
                                    <div class="px-2">
                                        <div>
                                            @{
                                                <a class="event-link" asp-controller="Verrukkulluk" asp-action="Event" asp-route-eventName="Event4"><h3>Wokken</h3></a>
                                            }
                                        </div>
                                        <p>Wat is wokken precies en wat maakt het nou zo lekker?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">           
                @if(!Model.SignInManager.IsSignedIn(User))
                {
                    @await Html.PartialAsync("../Shared/LoginBlock.cshtml", Model)
                }
            </div>
        </div>
    </div>

<!---------------------------------------------------Kaartjes van de recepten------------------------------------------------------------->

    <div class="container col-sm-12 col-md-6 col-xl-4">
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[0])
            <div class="col-12">
                @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[1])
            </div>
        </div>    
    <div class="container col-12 col-xl-4">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-12">
                @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[2])
            <div class="col-12 col-md-6 col-xl-12">
                @await Html.PartialAsync("../Shared/RecipeCardPartial.cshtml", Model.Recipes[3])
            </div>
        </div>
    </div>
</div>
<div class="col-xl-8 offset-xl-4">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">7</a></li>
        <li class="page-item"><a class="page-link" href="#">8</a></li>
    </ul>
</div>
