@{
    ViewData["Title"] = "Mijn Boodschappenlijst";
}
<div class="parent-container d-flex flex-wrap">
    <div class="container col-sm-12 col-md-6 col-xl-4">
        <div class="row">
            <div class="col-12">
                <div class="m-3">
                    <div class="card-login shadow">
                        <div class="card-header card-header-login">
                            <h1 class="white"> Login</h1>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="container container-login text-start">
                                    <div class="form-group">
                                        <label for="email" class="white">Email</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="white">Wachtwoord</label>
                                        <input type="password" class="form-control" id="password">
                                    </div>
                                    <div class="text-center">
                                        <p>Nog geen account? Klik @{
                                                <a asp-area="Identity" asp-page="/Account/Register">hier</a>
                                            } om u te registreren</p>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary"><h3>Login</h3></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Event-->
    <div class="container col-sm-24 col-md-12 col-xl-8">
        <div class="m-3">
            <div class="card shadow">
                <div class="card-header text-start">
                    <h1 class="darker-green" font-family="heading">Boodschappen</h1>
                </div>
                <div class="display-block">
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h3 class="darker-green"> Witte bol</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h3 class="darker-green"> Avocado</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h3 class="darker-green"> Avocado</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="container text-start">
                        <div class="d-inline-flex">
                            <div class="px-2">
                                <h2 class="darker-red"> Totaal</h2>
                                <p>Boodschappen</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



