@model Verrukkulluk.Models.EventModel;
@using Verrukkulluk.Models.DbModels;

@{
    ViewData["Title"] = "ThankYou";
}
<div class="parent-container d-flex flex-wrap">
    <div class="container col-sm-24 col-md-12 col-xl-8">
        <div class="m-3">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h1 class="darker-green" font-family="heading">Dankjewel!</h1>
                    <h2>Je hebt je aangemeld voor het event.</h2>

                    @foreach (var participant in @Model.Event.Participants)
                    {
                        <p> Naam: @participant.Name, @participant.Event.Title</p>
         
                    }


                </div>
            </div>
        </div>
    </div>
</div>