@model Verrukkulluk.Models.UserEventsModel;

@{
    ViewData["Title"] = "UserEvents";
}

<h1>UserEvents</h1>

<ul>
    @foreach (Event SignedUpEvent in Model.SignedUpEvents)
    {
        <form action="/Verrukkulluk/EventSignOut" method="post">
            <input type="hidden" id="eventId" name="eventId" value="@SignedUpEvent.Id" />
            <input type="hidden" id="eventId" name="userEmail" value="@Model.userEmail" />
            <div >              
                     <li class="h5">@SignedUpEvent.Title</li>
                     <button type="submit" class="btn-admin">Uitschrijven</button>           
            </div>
        </form>
    }
</ul>






